<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="margin-right:0px;overflow-y:auto;overflow-x:hidden">
        <a id="top"></a>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header" style="margin-top:10px">
                <a class="navbar-brand" href="#">论坛</a>
            </div>
            <div style="height:30px;margin-top:10px">
                <ul class="nav navbar-nav">
                    <li class="active" style="margin-left:50px"><a href="{{url_for('index')}}">首页</a></li>
                    <li><a href="#"></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">板块<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="{{url_for('index',section='chat')}}">站内交流</a></li>
                            <li class="divider"></li>
                            <li><a href="{{url_for('index',section='phone')}}">手机品牌</a></li>
                            <li class="divider"></li>
                            <li><a href="{{url_for('index',section='source')}}">资源分享</a></li>
                            <li class="divider"></li>
                            <li><a href="{{url_for('index',section='water')}}">灌水区</a></li>
                            <li class="divider"></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                {% if user_name != '' %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right:10px">
                            <h4 style="float:left;margin-top:-3px">{{user_name}}</h4>&nbsp;&nbsp;
                            <span class="caret" style="margin-top:-10px"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{person}}">个人空间</a></li>
                            <li><a href="#">私信</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="logout">注销登录</a></li>
                        </ul>
                    </li>
                {% else %}
                    <div style="margin-top:10px">
                        <div style="float:left;margin-left:-40px">
                            <a href="{{url_for('login')}}">登录</a>
                        </div>|&nbsp;&nbsp;&nbsp;
                        <div style="float:right;margin-right:30px;">
                            <a href="{{url_rigister}}">注册</a>
                        </div>
                    </div>
                {% endif %}
              </ul>

            </div>
            </div>
        </nav>
        <!-- flash -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>
        {% endfor %}
        <div>
            <!-- 中部 -->
            <div>
               <table cellspacing="0" cellpadding="0" style="margin-top:10px">
                   <tr>
                       <td class="fl_g" width="30%">
                            <div class="fl_icn_g" style="width: 70px;margin-left:40px">
                                <span class="phoneListImg">
                                <a href="{{url_for('index',section='chat')}}">
                                    <img src="{{url_for('static',filename='icons/交流.png')}}" align="left" alt="站内交流" width="50px"/>
                                </a>
                                </span>
                            </div>
                            <dl style="margin-left: 100px;margin-top:5px">
                            <dt><a href="{{url_for('index',section='chat')}}"  target="_blank" style='color:'>站内交流</a></dt>
                            <dd><em>帖数: {{num[0]}}</em></dd><dd>
                            </dd>
                            </dl>
                        </td>

                       <td class="fl_g" width="30%">
                            <div class="fl_icn_g" style="width: 70px;">
                                <span class="phoneListImg">
                                <a href="{{url_for('index',section='phone')}}"  target="_blank">
                                    <img src={{url_for('static',filename='icons/手机.png')}} align="left" alt="手机品牌" width="50px"/>
                                </a>
                                </span>
                            </div>
                            <dl style="margin-left: 60px;margin-top:5px">
                            <dt><a href="{{url_for('index',section='phone')}}"  target="_blank">手机品牌</a>

                            </dt>
                            <dd><em>帖数: {{num[1]}}</em></dd><dd>
                            </dd>
                            </dl>
                        </td>

                       <td class="fl_g" width="30%">
                            <div class="fl_icn_g" style="width: 70px;">
                                <span class="phoneListImg">
                                <a href="{{url_for('index',section='source')}}"  target="_blank">
                                    <img src={{url_for('static',filename='icons/资源.png')}} align="left" alt="资源分享" width="50px"/>
                                </a>
                                </span>
                            </div>
                            <dl style="margin-left: 60px;margin-top:5px">
                            <dt><a href="{{url_for('index',section='source')}}"  target="_blank" style='color:'>资源分享</a>

                            </dt>
                            <dd><em>帖数: {{num[2]}}</em></dd><dd>
                            </dd>
                            </dl>
                        </td>

                       <td class="fl_g" width="33%">
                            <div class="fl_icn_g" style="width: 70px;">
                                <span class="phoneListImg">
                                <a href="{{url_for('index',section='water')}}" target="_blank">
                                    <img src={{url_for('static',filename='icons/灌水.png')}} align="left" alt="灌水区" width="50px"/>
                                </a>
                                </span>
                            </div>
                            <dl style="margin-left:60px;margin-top:5px">
                            <dt><a href="{{url_for('index',section='water')}}"  target="_blank" style='color:'>灌水区</a>

                            </dt>
                            <dd><em>帖数: {{num[3]}}</em></dd><dd>
                            </dd>
                            </dl>
                        </td>
                   </tr>
               </table>
            </div>
            <!-- 热门 -->
            <div style="margin-left:80px;width:70%;">
                <div class="navbar navbar-default" role="navigation" style="margin-top:20px;margin-left:15px;">
                    <div class="container-fluid" style="margin-left:100px;">
                        <div style="height:auto">
                            <div style="margin-right:0px;">
                                <br><h3 style="margin-left:-70px;margin-top:20px"><font style="color:red">热帖排行</font></h3><br>
                                <div style="margin-left:-30px;margin-top:20px;">
                                    <div style="margin-right:-15px;margin-bottom:-15px;">
                                        {% for i in range(0,10) %}
                                            <div class="panel panel-default" style="width:90%;">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                        <div>
                                                            <a style="" href = "{{url_for('essay',eid=hot[i]['eid'])}}">{{hot[i]['title']}}</a>
                                                            <p style="float:right">{{hot[i]['author_name']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{hot[i]['time']}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body" >{{hot[i]['essay']}}</div>
                                                <br>
                                            </div>
                                        {% endfor %}
                                        <br><br><br><br>
                                    </div>
                                    <!--
                                    <div style="float:right;margin-right:20%;">
                                        {% for i in range(5,10) %}
                                            <li><a href="{{url_for('essay',eid=hot[i]['eid'])}}" target="_blank"><font size="4">{{hot[i]['title']}}</font></a></li>
                                        {% endfor %}
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 锚点 -->
                <div style="position:fixed;top:57%;left:87%">
                    <ul class="pager">
                        <div><a href="#top" target="_self"><img src={{ url_for('static',filename='icons/top.png') }} style="margin-top:50px;width:40px;height:40px"></a></div>
                    </ul>
                </div>
                <!-- APP下载 -->
                <div style="width:13%;position:fixed;left:82%;top:168px;text-align:center">
                    <div class="navbar navbar-default" role="navigation" height="200px">
                        <p></p>
                        <label width="50px"><font size="3">扫描二维码或点击</font></label>
                        <label width="50px"><font size="3">下载APP</font></label>
                        <label width="50px"><font size="3">获取更多信息!</font></label>
                        <p></p>
                        <img src="{{url_for('static',filename='icons/test.png')}}" width="110px"><p></p>
                        <p></p>
                    </div>
                </div>
                <!-- 底部 -->
                <nav class="navbar navbar-default" role="navigation" style="margin-top:90px;width:125%">
                    <div class="container-fluid" style="margin-left:17%">
                        <div style="height:120px;margin-down:10px;">
                            <div><ul class="nav navbar-nav" style="margin-top:5px">
                                <li><a href="#">公司简介</a></li>
                                <li><a href="#">招贤纳士</a></li>
                                <li><a href="#">广告服务</a></li>
                                <li><a href="#">联系方式</a></li>
                                <li><a href="#">版权声明</a></li>
                                <li><a href="#">法律顾问</a></li>
                                <li><a href="#">问题报告</a></li>
                                <li><a href="#">合作伙伴</a></li>
                                <li><a href="#">论坛反馈</a></li>
                            </ul></div>
                            <div><ul class="nav navbar-nav" style="margin-top:15px">
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">copyright © 2009-2014</a></li>
                            </ul></div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>


</body>
</html>