<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>index</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
{% extends 'navbar.html'%}
{% block top_navbar %}
    {{super()}}
{% endblock %}
<div style="margin-right:0px;overflow-y:auto;overflow-x:hidden">
        <a id="top"></a>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
        </div>
        {% endfor %}
        {% block page_content%}
        {% if u_id %}
            <div class="modal show" style="margin-top:5.0%;z-index:0;overflow-y:auto;overflow-x:hidden;margin-right:-15px;margin-bottom:-15px;">
        <a id="top"></a> <!--锚点-->
          <div class="modal-dialog" style="width:80%">
            <div class="modal-content" style="margin-top:120px">
                <!-- 标题 -->
                <div class="modal-header">
                    <h1 class="text-center text-primary" style="float:left;margin-left:30px">{{modal_name}}</h1>
                </div>
                <!-- 帖子 -->
                <div class="modal-body">
                    <!-- 按照发帖时间排序 -->
                    <div class="list-group"> <!-- 正文 -->
                        <!-- 开始 -->
                        <a href="#" class="list-group-item active">
                            <h3 class="list-group-item-heading">全部内容</h3>
                        </a>
                        <!-- 正文 -->
                        {% for post in posts %}
                            <a href="#" target="_blank" class="list-group-item">
                                <div style="margin-left:30px">
                                        <h5 class="list-group-item-heading">{{ post.title }}</h5>
                                        <p class="list-group-item-text" style="margin-left:80%">{{ post.publisher_id }}</p> <!-- 作者，时间 -->
                                        <p class="list-group-item-text" style="margin-left:80%">{{ post.post_time }}</p> <!-- 作者，时间 -->
                                </div>
                                {% if delete %}
                                    <a href={{ url_for('moderate',mtype=1,mid=1) }}><font style="color:red;">删除</font></a>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% else %}
            <h1>World!</h1>
        {% endif %}
    </div>
{% endblock %}


</body>

<div style="position:absolute;margin-top:280px;margin-left:94%;">
        <ul class="pager">
            <!-- 发帖按钮 -->
            {% if user_name != None and user_name != '' %}
                <div><a href="#myModal" data-toggle="modal" ><img src="{{ url_for('static', filename='icons/write.png') }}" style="width:40px;height:40px"></a></div>
            {% else %}
                <div><a onclick="confirm('请登录后使用')"><img src="{{ url_for('static',filename='icons/write.png') }}" style="width:40px;height:40px"></a></div>
            {% endif %}
            <!-- top -->
            <div><a href="#top" target="_self"><img src="{{ url_for('static', filename='icons/top.png') }}" style="margin-top:50px;width:40px;height:40px"></a></div>
        </ul>
    </div>
</html>
